Source: sushi
Section: net
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Kuhn <suraia@ikkoku.de>
Build-Depends: debhelper (>= 7),
 pkg-config,
 libdbus-1-dev,
 libglib2.0-dev (>= 2.16),
 libdbus-glib-1-dev,
 gettext,
 intltool,
 libnm-glib-dev,
 libnice-dev
Build-Depends-Indep: python,
 python-central
Standards-Version: 3.8.1
Homepage: http://sushi.ikkoku.de/
XS-Python-Version: current
Vcs-Git: git://ikkoku.de/sushi
Vcs-Browser: http://git.ikkoku.de/?p=sushi;a=summary

Package: sushi
Architecture: all
Depends: maki,
 tekka | nigiri
Description: IRC suite
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package provides the full suite.

Package: sushi-plugins
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: IRC suite - plugins
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains plugins for the clients.

Package: maki
Architecture: any
Depends: ${shlibs:Depends}
Description: IRC suite - central daemon
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the central daemon maki.

Package: tekka
Architecture: all
Depends: ${python:Depends},
 maki,
 python-dbus,
 python-glade2,
 python-gobject,
 python-gtk2,
 python-xdg
Recommends: sushi-plugins
XB-Python-Version: ${python:Versions}
Description: IRC suite - graphical client
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the graphical client tekka.

Package: nigiri
Architecture: all
Depends: ${python:Depends},
 maki,
 python-dbus,
 python-gobject,
 python-urwid (>= 0.9.8),
 python-xdg
Recommends: sushi-plugins
XB-Python-Version: ${python:Versions}
Description: IRC suite - terminal client
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the terminal client nigiri.
