Source: sushi
Section: net
Priority: optional
Maintainer: Michael Kuhn <suraia@ikkoku.de>
Build-Depends: debhelper (>= 7.0.50),
 python,
 python-support,
 pkg-config,
 gettext,
 intltool,
 libdbus-1-dev,
 libglib2.0-dev (>= 2.26),
 libnice-dev,
 libgupnp-igd-1.0-dev
Standards-Version: 3.9.1
Homepage: http://sushi.ikkoku.de/
Vcs-Git: http://redmine.ikkoku.de/git/sushi
Vcs-Browser: http://redmine.ikkoku.de/projects/sushi/repository/revisions/master/show/packaging/debian

Package: sushi
Architecture: all
Depends: maki, ${misc:Depends},
 tekka | nigiri
Description: D-Bus-based IRC suite
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This virtual package provides the full suite.

Package: sushi-plugins
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: sushi IRC suite - client plugins
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains plugins for the clients.

Package: maki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: maki-plugins
Description: sushi IRC suite - central daemon
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the central daemon maki.

Package: maki-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sushi IRC suite - maki plugins
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains plugins for maki.

Package: maki-dbg
Section: debug
Priority: extra
Architecture: any
Depends: maki (= ${binary:Version}), ${misc:Depends}
Description: sushi IRC suite - central daemon debugging symbols
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains debugging symbols for the central daemon maki.

Package: tekka
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 maki,
 python-dbus,
 python-gobject,
 python-gtk2,
 python-xdg
Recommends: sushi-plugins
Description: sushi IRC suite - graphical client
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the graphical client tekka.

Package: nigiri
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 maki,
 python-dbus,
 python-gobject,
 python-urwid (>= 0.9.8),
 python-xdg
Recommends: sushi-plugins
Description: sushi IRC suite - terminal client
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to easily
 interact with IRC.
 .
 This package contains the terminal client nigiri.
