#!/usr/bin/make -f

%:
	dh --with python-central $@

override_dh_auto_clean:
	cd maki && ./waf distclean
	cd nigiri && ./waf distclean
	cd tekka && ./waf distclean
	cd plugins && ./waf distclean
	#find ./ -name ".waf*" | xargs rm -Rf

override_dh_auto_configure:
	cd maki && ./waf configure --prefix=/usr
	cd nigiri && ./waf configure --prefix=/usr
	cd tekka && ./waf configure --prefix=/usr --ubuntu-icons
	cd plugins && ./waf configure --prefix=/usr

override_dh_auto_build:
	cd maki && ./waf build
	cd nigiri && ./waf build
	cd tekka && ./waf build
	cd plugins && ./waf build

override_dh_auto_install:
	cd maki && ./waf install --destdir=$(CURDIR)/debian/maki
	cd nigiri && ./waf install --destdir=$(CURDIR)/debian/nigiri
	cd tekka && ./waf install --destdir=$(CURDIR)/debian/tekka
	cd plugins && ./waf install --destdir=$(CURDIR)/debian/sushi-plugins

override_dh_auto_test:

override_dh_strip:
	dh_strip -p maki --dbg-package=maki-dbg
	dh_strip --remaining-packages
